
{% extends 'base/header_footer.html' %}
{% load static %}
{% block content %}
   
    <div class="container">
        <div class="b-content">
            <div class="row b-padding-kanan-kiri">
                <div class="mx-auto">
                    <img class="img-fluid b-img" src="{% static 'img/kendala-sepulsa.jpg' %}" alt="">
                </div>
            </div>
            <div class="row b-padding-kanan-kiri justify-content-between">
                <div>
                    <p>September 25, 2018</p>
                </div>
                <div style="margin-right: 50px;">
                    <p>0 comment</p>
                </div>
            </div>
            <div class="row b-padding-kanan-kiri">
                <h2>Punya Kendala ? Segera Hubungi<br>Customer Service Sepulsa!</h2>
            </div>
            <div class="row b-padding-kanan-kiri">
                <p>Bagi sepulsa, kepuasan pelanggan adalah yang utama. Kami senantiasa mendengarkan keluhan maupun kendala yang kamu hadapi selama melakukan transaksi di Sepulsa. Umumnya pelanggan Sepulsa menghadapi kendala sebagai berikut: Status Order Pending. Jika transaksi pembayaran sudah selesai, namun status order kamu masih pending dalam jangka waktu 15 menit, segera hubungi tim Customer Service dengan menyertakan email.</p>
            </div>
            <div class="row b-padding-kanan-kiri">
                <a href="#">Baca selengkapnya</a>
            </div>
        </div>

        <div class="b-content">
            <div class="row b-padding-kanan-kiri">
                <div class="mx-auto">
                    <img class="img-fluid b-img" src="{% static 'img/sms.png' %}" alt="">
                </div>
            </div>
            <div class="row b-padding-kanan-kiri justify-content-between">
                <div>
                    <p>August 14, 2018</p>
                </div>
                <div style="margin-right: 50px;">
                    <p>0 comment</p>
                </div>
            </div>
            <div class="row b-padding-kanan-kiri">
                <h2>OTP, Si Kode Rahasia dan Berbahaya</h2>
            </div>
            <div class="row b-padding-kanan-kiri">
                <p>Kemudahan dalam berbagai transaksi perbankan memang banyak memberikan keuntungan bagi nasabah. Bayangkan saja, aktivitas jual beli yang pada awalnya membutuhkan waktu dan tempat, kini bisa dilakukan tanpa perlu beranjak dari tempat duduk kamu dan pembayaran lunas dalam hitungan detik dengan transaksi online. Namun tanpa disadari, kemudahan tersebut bukan berarti tanpa celah. Sebelum kita membahas lebih ...</p>
            </div>
            <div class="row b-padding-kanan-kiri">
                <a href="#">Baca selengkapnya</a>
            </div>
        </div>
    </div>

    
{% endblock %}



