
{% extends 'base/header_footer.html' %}
{% load static %}
{% block content %}
    <!--  ++ start content 1 ++ -->
    <div id="content-1" class="container">
        <div class="row">
            <div class="col-md-4 padding-content-kiri">
                <img class="img-fluid" src="{% static 'img/benefit.png' %}" alt="">
            </div>

            <div class="col-md-8 padding-content-kanan">
                <h3>Learn awesome tech</h3>
                <p>You will learn about programming language, such as Python and Javascript, build back-end apps using Flask framework with microservice concept, build client-site apps using React Library, etc.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 padding-content-kiri">
                <img class="img-fluid" src="{% static 'img/search-job.png' %}" alt="">
            </div>

            <div class="col-md-8 padding-content-kanan">
                <h3>Land new job</h3>
                <p>If you can pass this awesome program, you will be part of our reliable tech team for especially Software Engineer position and other tech position such as Quality Engineer, System Analyst, etc.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 padding-content-kiri">
                <img class="img-fluid" src="{% static 'img/get-paid.png' %}" alt="">
            </div>

            <div class="col-md-8 padding-content-kanan">
                <h3>Get paid to learn</h3>
                <p>Join for free and earn some money. Yes you read that right, no registration fee required to enter this program. To make things even better, you will receive pocket money just for participating. Cool, right?</p>    
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 padding-content-kiri">
                <img class="img-fluid" src="{% static 'img/mission.png' %}" alt="">
            </div>

            <div class="col-md-8 padding-content-kanan">
                <h3>Who are we?</h3>
                <p>Alpha Tech Academy is a tech talent incubation that gives anyone any chance (not even an IT background) to learn within 3 months of being a professional Tech Talent. What is our mission? We want to improve capability Tech Talent in Indonesia</p>    
            
                <h3>What is our mission ?</h3>
                <p>We want to improve capability Tech Talent in Indonesia</p>
            </div>
        </div> 
    </div> <!-- end content 1 -->


    <div><!--  ++ start content 2 ++ -->
        <div id="container-2" class="container">
            <div class="row">
                <div class="mx-auto">
                    <p id="p-content-2">What will you learn ?</p>
                </div>
            </div>
            <div class="row content-2 h-100">
                <div class="col-md-3 box-container text-center align-item-center">
                    <img class="img-fluid img-content" src="{% static 'img/learn-html.png' %}" alt="">
                </div>
                <div class="col-md-3 box-container text-center align-item-center">
                    <img class="img-fluid img-content" src="{% static 'img/learn-programming.png' %}" alt="">
                </div>
                <div class="col-md-3 box-container text-center align-item-center">
                    <img class="img-fluid img-content" src="{% static 'img/learn-git.png' %}" alt="">
                </div>
                <div class="col-md-3 box-container text-center align-item-center">
                    <img class="img-fluid img-content" src="{% static 'img/learn-api.png' %}" alt="">
                </div>


                <div class="col-md-3 box-container text-center align-item-center">
                    <img class="img-fluid img-content" src="{% static 'img/learn-react.png' %}" alt="">
                </div>
                <div class="col-md-3 box-container text-center align-item-center">
                    <img class="img-fluid img-content" src="{% static 'img/learn-tdd.png' %}" alt="">
                </div>
                <div class="col-md-3 box-container text-center align-item-center">
                    <img class="img-fluid img-content" src="{% static 'img/learn-server.png' %}" alt="">
                </div>
                <div class="col-md-3 box-container text-center align-item-center">
                    <img class="img-fluid img-content" src="{% static 'img/learn-scrum.png' %}" alt="">
                </div>
                  
            </div>
        </div>
    </div><!-- end content 2 -->
    

    
{% endblock %}



